@charset "utf-8";

* { margin:0; padding:0; font-family:"맑은 고딕"; }
li { list-style-type:none; }
img { border:0; vertical-align:middle; }
a { text-decoration:none; color:#000; }

body {}
#air {  }
#air img { position:absolute; left:100px; top:300px; }

.title { position:absolute; top:90px; font-size:20px; font-weight:bold; line-height:0px; }
p { position:absolute; left:100px; font-size:14px; top:140px; line-height:22px; }

.prev_b { position:absolute; left:100px; font-size:12px; top:250px; text-decoration:underline; }